# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Django Migrations #
*/migrations/*
!*/migrations/__init__.py

# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class 

# MyPy #
.mypy_cache/

# Pytest #
.pytest_cache/

# JetBrains IDE #
.idea/

# Installer logs #
pip-log.txt 
pip-delete-this-directory.txt 

# pyenv 
.python-version 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# virtualenv
/env

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
