{% extends "layout.html" %}

{% block title %}
  About
{% endblock title %}

{% block header %}
  About
{% endblock header %}

{% block content %}
  <h2 class="text-3xl/loose font-bold tracking-tight text-indigo-950">What is Diabetic Retinopathy?</h2>
  <section>
    <h3 class="text-xl/loose mt-2">Background</h3>
    <p class="text-base/7">Diabetic Retinopathy is a condition where high blood sugar damages blood vessels in the retina, leading to vision problems and even blindness if untreated.
    Mild cases may be treated with careful diabetes management. Advanced cases may require laser treatment, monthly eye injections, or surgery. 
    </p>
    <h3 class="text-xl/loose mt-2">Prognosis</h3>
    <p class="text-base/7">The visual component of diabetic eye disease often has no warning signs. It can be detected and treated early, preventing noticeable vision loss. Early detection and timely treatment can reduce the risk of severe vision loss by 95%. People with diabetes should get a comprehensive dilated eye exam at least once a year.
    </p>
  </section>
{% endblock content %}