{% extends "layout.html" %}

{% block title %}
  Dashboard
{% endblock title %}

{% block header %}
  Patient List
{% endblock header %}

{% block content %}
  <section>

  </section>
    <form class="form-with-validation" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class='form-submit'>Submit</button>
    </form>
  </section>
  </br>
  <section>
    {% for patient in patients %}
      <div>
        <a href="{% url 'patients:patient_page' id=patient.id %}">
          <h3>{{ patient.full_name }}</h3>
        </a>
        <p>Age: {{ patient.age }}</p>
      </div>
      </br>
    {% endfor %}
  </section>
{% endblock content %}