{% extends "layout.html" %}

{% block title %}
    {{patient.full_name}}
{% endblock title %}

{% block header %}
    {{patient.full_name}}
{% endblock header %}

{% block content %}
    <section class="px-4 py-6 sm:px-6 lg:px-8 bg-white rounded-md shadow-lg">
        <form class="flex justify-between items-center" action="" method="POST">
            {% csrf_token %}
            
            <p class="font-semibold">Are you sure you want to delete this patient?</p>

            <div class="col-span-1 col-end-7 place-self-end flex items-center justify-end gap-x-6">
                <a href="{% url 'patients:patient_view' id=patient_id %}" type="button" class="text-sm font-semibold leading-6 text-gray-900 hover:text-teal-600">Cancel</a>

                <button type="form-submit" class="rounded-md bg-rose-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-rose-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600">Confirm</button>
            </div>
        </form>
    </section>
{% endblock content %}